packages:
  yum:
    pgbouncer: []

files:
  "/etc/pgbouncer/pgbouncer.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      [databases]
      yourdbname = host=devib-2.c9goq6a442vp.ap-south-1.rds.amazonaws.com port=5432 dbname=testdevib user=postgres password=interiorbazar

      [pgbouncer]
      listen_addr = 127.0.0.1
      listen_port = 6432
      auth_type = md5
      auth_file = /etc/pgbouncer/userlist.txt
      pool_mode = transaction
      max_client_conn = 1000
      default_pool_size = 30
      log_connections = 1
      log_disconnections = 1

  "/etc/pgbouncer/userlist.txt":
    mode: "000600"
    owner: root
    group: root
    content: |
      "postgres" "md5f5c867b5870513099a72934ed8323693"

commands:
  01_enable_pgbouncer:
    command: "systemctl enable pgbouncer"
  02_restart_pgbouncer:
    command: "systemctl restart pgbouncer"
