packages:
  yum:
    git: []

container_commands:
  01_upgrade_pip:
    command: "pip install --upgrade pip"

  02_install_phonepe_sdk:
    command: |
      pip install \
      --index-url https://phonepe.mycloudrepo.io/public/repositories/phonepe-pg-sdk-python \
      --extra-index-url https://pypi.org/simple \
      phonepe_sdk
